/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 92.75%;
  font-family: 'Poppins', sans-serif;

  :disabled {
    cursor: not-allowed;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(187, 187, 187);
}
